@charset "utf-8";

@font-face {
    font-family: 'Hanyi';
    src: url('../fonts/zh-cn.ttf') format('truetype');
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

html {
    background: url('../images/albedo.jpg');
    opacity: 80%;
    background-size: cover;
    height: 100%;
}

body {
    margin: 0 auto;
    /* padding: 20px; */
    width: 100%;
    max-width: 1250px;
    min-width: 640px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

div#header img {
    width: 100%;
    height: 500px;
    margin: 0;
}